.container {
    position: relative;
    text-align: center;
    color: white;
}

.topmiddle {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 46pt;
}